html,
body,
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a0d0f;
    height: 100vh;
    /* cursor: none; */
}

#SceneDiv {
    height: 100vh;
    width: 100wh;
    /* filter: blur(100px); */
}

#SceneDiv[data-blur="true"] {
    filter: blur(90px);
}

.divvie {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-align: center;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.03);
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    border-radius: 2rem;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.2) 5px 10px 10px;
    padding: 0.5rem;
}

p {
    font-size: x-large;
    font-weight: bold;
    color: white;
    font-size: 6rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
